In [1]:
import pandas as pd

In [2]:
!ls

online_transaction.csv	train.ipynb  tran_fraud.pkl

In [3]:
df = pd.read_csv('online_transaction.csv')

In [4]:
df.isnull().sum()

IPAddress                   0
UserAccount                 0
DestinationAccount          0
Age                         0
TransactionDate             0
PaymentType                 0
AmountWithdraw              0
OldBalance                  0
NewBalance                  0
OldbalanceDestination       0
NewbalanceDestination       0
isFraud                     0
isFlaggedFraud              0
Unnamed: 13              9999
dtype: int64

In [5]:
df  = df.drop(['Unnamed: 13'], axis=1)
df = df.drop(['isFlaggedFraud'], axis=1)

In [6]:
df.columns

Index(['IPAddress', 'UserAccount', 'DestinationAccount', 'Age',
       'TransactionDate ', 'PaymentType', 'AmountWithdraw', 'OldBalance',
       'NewBalance', 'OldbalanceDestination', 'NewbalanceDestination',
       'isFraud'],
      dtype='object')

In [7]:
df.head(6)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud
0,1.921081e+08,C1231006815,M1979787155,21,1/1/2020,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0
1,1.921081e+09,C1666544295,M2044282225,22,1/2/2020,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0
2,1.921081e+09,C1305486145,C553264065,23,1/3/2020,TRANSFER,181.00,181.0,0.00,0.0,0.0,1
3,1.921081e+09,C840083671,C38997010,24,1/4/2020,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1
4,1.920000e+11,C2048537720,M1230701703,25,1/5/2020,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0
5,3.820000e+11,C90045638,M573487274,26,1/6/2020,PAYMENT,7817.71,53860.0,46042.29,0.0,0.0,0

In [8]:
df['PaymentType'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [9]:
payment_obj = {'PAYMENT': 2, 'TRANSFER':3, 'CASH_OUT':4, 'DEBIT': 1, 'CASH_IN': 0, }

In [10]:
df.head(5)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud
0,1.921081e+08,C1231006815,M1979787155,21,1/1/2020,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0
1,1.921081e+09,C1666544295,M2044282225,22,1/2/2020,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0
2,1.921081e+09,C1305486145,C553264065,23,1/3/2020,TRANSFER,181.00,181.0,0.00,0.0,0.0,1
3,1.921081e+09,C840083671,C38997010,24,1/4/2020,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1
4,1.920000e+11,C2048537720,M1230701703,25,1/5/2020,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0

In [11]:
from category_encoders import TargetEncoder

encoder = TargetEncoder(cols=['UserAccount', 'DestinationAccount'])
df[['UserAccount', 'DestinationAccount']] = encoder.fit_transform(df[['UserAccount', 'DestinationAccount']], df['isFraud'])

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [12]:
df['PaymentType'] = df['PaymentType'].map(payment_obj)
df.head(3)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud
0,1.921081e+08,0.005916,0.005916,21,1/1/2020,2,9839.64,170136.0,160296.36,0.0,0.0,0
1,1.921081e+09,0.005916,0.005916,22,1/2/2020,2,1864.28,21249.0,19384.72,0.0,0.0,0
2,1.921081e+09,0.136024,0.057239,23,1/3/2020,3,181.00,181.0,0.00,0.0,0.0,1

In [13]:
df.tail(5)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud
9994,5.720000e+11,0.005916,0.005916,20,9/29/2021,2,115.38,249688.0,249572.62,0.0,0.0,0
9995,7.630000e+11,0.005916,0.005916,21,9/30/2021,2,466.73,881.0,414.27,0.0,0.0,0
9996,9.530000e+11,0.005916,0.005916,22,10/1/2021,2,8239.66,11515.0,3275.34,0.0,0.0,0
9997,1.140000e+12,0.005916,0.005916,23,10/2/2021,2,6063.34,31409.0,25345.66,0.0,0.0,0
9998,1.330000e+12,0.005916,0.005916,24,10/3/2021,3,317806.64,10901.0,0.00,103168.0,0.0,0

In [14]:

df['TransactionDate '] = pd.to_datetime(df['TransactionDate '], format='%m/%d/%Y', errors='coerce')

# Drop rows with invalid dates
df = df.dropna(subset=['TransactionDate '])

In [15]:
df.head(3)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud
0,1.921081e+08,0.005916,0.005916,21,2020-01-01,2,9839.64,170136.0,160296.36,0.0,0.0,0
1,1.921081e+09,0.005916,0.005916,22,2020-01-02,2,1864.28,21249.0,19384.72,0.0,0.0,0
2,1.921081e+09,0.136024,0.057239,23,2020-01-03,3,181.00,181.0,0.00,0.0,0.0,1

In [16]:
import numpy as np

df['day'] = df['TransactionDate '].dt.day
df['month'] = df['TransactionDate '].dt.month
df['year'] = df['TransactionDate '].dt.year

# Normalize and encode cyclic features
df['day_sin'] = np.sin(df['day'] * (2. * np.pi / 31))  # Assuming max days = 31
df['day_cos'] = np.cos(df['day'] * (2. * np.pi / 31))
df['month_sin'] = np.sin((df['month'] - 1) * (2. * np.pi / 12))
df['month_cos'] = np.cos((df['month'] - 1) * (2. * np.pi / 12))

In [17]:
df.tail(3)

,IPAddress,UserAccount,DestinationAccount,Age,TransactionDate,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud,day,month,year,day_sin,day_cos,month_sin,month_cos
9996,9.530000e+11,0.005916,0.005916,22,2021-10-01,2,8239.66,11515.0,3275.34,0.0,0.0,0,1,10,2021,0.201299,0.979530,-1.0,-1.836970e-16
9997,1.140000e+12,0.005916,0.005916,23,2021-10-02,2,6063.34,31409.0,25345.66,0.0,0.0,0,2,10,2021,0.394356,0.918958,-1.0,-1.836970e-16
9998,1.330000e+12,0.005916,0.005916,24,2021-10-03,3,317806.64,10901.0,0.00,103168.0,0.0,0,3,10,2021,0.571268,0.820763,-1.0,-1.836970e-16

In [18]:
df  = df.drop(['TransactionDate '], axis=1)
df['year'].unique()

array([2020, 2021], dtype=int32)

In [19]:
df.head(3)

,IPAddress,UserAccount,DestinationAccount,Age,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,isFraud,day,month,year,day_sin,day_cos,month_sin,month_cos
0,1.921081e+08,0.005916,0.005916,21,2,9839.64,170136.0,160296.36,0.0,0.0,0,1,1,2020,0.201299,0.979530,0.0,1.0
1,1.921081e+09,0.005916,0.005916,22,2,1864.28,21249.0,19384.72,0.0,0.0,0,2,1,2020,0.394356,0.918958,0.0,1.0
2,1.921081e+09,0.136024,0.057239,23,3,181.00,181.0,0.00,0.0,0.0,1,3,1,2020,0.571268,0.820763,0.0,1.0

In [20]:
target = 'isFraud'
y = df[target]
o_col = df.columns[ df.columns != target ]
o_col

Index(['IPAddress', 'UserAccount', 'DestinationAccount', 'Age', 'PaymentType',
       'AmountWithdraw', 'OldBalance', 'NewBalance', 'OldbalanceDestination',
       'NewbalanceDestination', 'day', 'month', 'year', 'day_sin', 'day_cos',
       'month_sin', 'month_cos'],
      dtype='object')

In [21]:
X = df[ o_col ]
X.head(3)

,IPAddress,UserAccount,DestinationAccount,Age,PaymentType,AmountWithdraw,OldBalance,NewBalance,OldbalanceDestination,NewbalanceDestination,day,month,year,day_sin,day_cos,month_sin,month_cos
0,1.921081e+08,0.005916,0.005916,21,2,9839.64,170136.0,160296.36,0.0,0.0,1,1,2020,0.201299,0.979530,0.0,1.0
1,1.921081e+09,0.005916,0.005916,22,2,1864.28,21249.0,19384.72,0.0,0.0,2,1,2020,0.394356,0.918958,0.0,1.0
2,1.921081e+09,0.136024,0.057239,23,3,181.00,181.0,0.00,0.0,0.0,3,1,2020,0.571268,0.820763,0.0,1.0

In [22]:
y[:5]

0    0
1    0
2    1
3    1
4    0
Name: isFraud, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, random_state=123, test_size=0.3)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, f1_score, log_loss, precision_score

In [25]:
models =  {
    "Logistic Regression": LogisticRegression(C=100.0, penalty='l2', solver='liblinear', multi_class='ovr'),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Random Forest Classifier": RandomForestClassifier(criterion='entropy', n_estimators=100),
    "Ada Boost Classifier": AdaBoostClassifier(),
    "XGB BOOST CLASSIFIER": XGBClassifier()
}


for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"Name: {name}")
    print(f"Score for Trainig {model.score(X_train, y_train)}")
    print(f"Score for Testing {model.score(X_test, y_test)}")
    print(f"Accuracy score {accuracy_score(y_test, y_pred)}")
    print(f"F1 score {f1_score(y_test, y_pred)}")
    print(f"Precision score {precision_score(y_test, y_pred)}")
    print(f"Log loss score {log_loss(y_test, y_pred)}")
    print("#######\n")

Name: Logistic Regression
Score for Trainig 0.9939991427346764
Score for Testing 0.9913333333333333
Accuracy score 0.9913333333333333
F1 score 0.0
Precision score 0.0
Log loss score 0.31237832937234883
#######

Name: Decision Tree Classifier
Score for Trainig 1.0
Score for Testing 1.0
Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Log loss score 2.2204460492503136e-16
#######

/home/musoye/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Name: Random Forest Classifier
Score for Trainig 1.0
Score for Testing 1.0
Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Log loss score 2.2204460492503136e-16
#######

Name: Ada Boost Classifier
Score for Trainig 1.0
Score for Testing 1.0
Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Log loss score 2.2204460492503136e-16
#######

Name: XGB BOOST CLASSIFIER
Score for Trainig 1.0
Score for Testing 1.0
Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Log loss score 2.2204460492503136e-16
#######

In [26]:
#from category_encoders import TargetEncoder

#encoder = TargetEncoder(cols=['UserAccount', 'DestinationAccount'])
#df[['UserAccount', 'DestinationAccount']] = encoder.fit_transform(df[['UserAccount', 'DestinationAccount']], df['isFraud'])
#new_data[['UserAccount', 'DestinationAccount']] = encoder.transform(new_data[['UserAccount', 'DestinationAccount']])

# df['TransactionDate '] = pd.to_datetime(df['TransactionDate '], format='%m/%d/%Y', errors='coerce')

# Drop rows with invalid dates
# df = df.dropna(subset=['TransactionDate '])
import numpy as np

# df['day'] = df['TransactionDate '].dt.day
# df['month'] = df['TransactionDate '].dt.month
# df['year'] = df['TransactionDate '].dt.year

# # Normalize and encode cyclic features
# df['day_sin'] = np.sin(df['day'] * (2. * np.pi / 31))  # Assuming max days = 31
# df['day_cos'] = np.cos(df['day'] * (2. * np.pi / 31))
# df['month_sin'] = np.sin((df['month'] - 1) * (2. * np.pi / 12))
# df['month_cos'] = np.cos((df['month'] - 1) * (2. * np.pi / 12))

In [27]:
mod = models["Random Forest Classifier"].fit(X_train, y_train)

In [28]:
print(f"Score for Trainig {mod.score(X_train, y_train)}")
print(f"Score for Testing {mod.score(X_test, y_test)}")
print(f"Accuracy score {accuracy_score(y_test, y_pred)}")
print(f"F1 score {f1_score(y_test, y_pred)}")
print(f"Precision score {precision_score(y_test, y_pred)}")
print(f"Log loss score {log_loss(y_test, y_pred)}")

Score for Trainig 1.0
Score for Testing 1.0
Accuracy score 1.0
F1 score 1.0
Precision score 1.0
Log loss score 2.2204460492503136e-16

In [29]:
import pickle
dat = {'model': mod, 'encoder': encoder, 'payment': payment_obj }
with open('tran_fraud.pkl', 'wb') as file:
    pickle.dump(dat, file)

In [30]:
!ls

online_transaction.csv	train.ipynb  tran_fraud.pkl